<a href="https://colab.research.google.com/github/gabrielflores-cloud/cursophytoncucsh/blob/main/Proyecto_3_Proceso_de_admision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Curso:** Análisis y visualización de datos con Python en la nube

# Proyecto 3. Proyecto_3_Proceso_de_admision

**Gabriel Flores Allende**

*   Campus: CUCEA
*   Fecha: 08 de octubre de 2025

In [135]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [136]:
import pandas as pd

ruta_archivo = '/content/drive/MyDrive/Colab data1/applicant_list_7.txt'

nombres_columnas = ['nombre', 'apellido', 'EPH', 'ECH', 'EMA', 'ECS', 'ESP', 'OP1', 'OP2', 'OP3']

df = pd.read_csv(ruta_archivo, sep=' ', names=nombres_columnas)

df

,nombre,apellido,EPH,ECH,EMA,ECS,ESP,OP1,OP2,OP3
0,Jermine,Brunton,84,81,73,92,48,Physics,Engineering,Mathematics
1,Justo,Mirfin,71,77,61,60,41,Engineering,Biotech,Chemistry
2,Uzma,Naysmythe,60,94,75,71,80,Chemistry,Engineering,Mathematics
3,Koury,Wingo,71,81,81,83,59,Engineering,Biotech,Mathematics
4,Kentrell,Hillhouse,40,69,42,58,20,Mathematics,Engineering,Biotech
...,...,...,...,...,...,...,...,...,...,...
93,Tamkia,Fish,81,71,73,86,78,Physics,Engineering,Mathematics
94,Deniz,Blanchard,71,77,61,60,61,Engineering,Biotech,Chemistry
95,Mira,Riley,60,94,75,71,80,Engineering,Biotech,Mathematics
96,Loura,Macansh,71,81,81,93,79,Engineering,Physics,Mathematics
97,Nastassja,Trustram,60,49,82,68,70,Mathematics,Engineering,Physics

In [100]:
print(df.shape)
df.info()

(98, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    98 non-null     object
 1   apellido  98 non-null     object
 2   EPH       98 non-null     int64
 3   ECH       98 non-null     int64
 4   EMA       98 non-null     int64
 5   ECS       98 non-null     int64
 6   ESP       98 non-null     int64
 7   OP1       98 non-null     object
 8   OP2       98 non-null     object
 9   OP3       98 non-null     object
dtypes: int64(5), object(5)
memory usage: 7.8+ KB

In [102]:
display(df['ECH'])

0     81
1     77
2     94
3     81
4     69
      ..
93    71
94    77
95    94
96    81
97    49
Name: ECH, Length: 98, dtype: int64

In [107]:
display(df['ESP'] + df['EMA'])

0     121
1     102
2     155
3     140
4      62
     ...
93    151
94    122
95    155
96    160
97    152
Length: 98, dtype: int64

In [113]:
df["score"] = (df["ESP"] + df["EMA"] + df["ECS"]) / 3
display(df["score"])

0     71.000000
1     54.000000
2     75.333333
3     74.333333
4     40.000000
        ...
93    79.000000
94    60.666667
95    75.333333
96    84.333333
97    73.333333
Name: score, Length: 98, dtype: float64

In [174]:
# Definición de una función para calcular puntaje de admisión
# Formula según el departamento
def calcular_puntaje_admision(linea, departamento):
    puntaje = 0

    if departamento == 'Physics':
        puntaje = (linea["EPH"] + linea["EMA"] + linea["EPH"]) / 3
    elif departamento == "Chemistry":
        puntaje = (linea["ECH"] + linea["EPH"] + linea["ESP"]) / 3
    elif departamento == "Engineering":
        puntaje = (linea["EMA"] + linea["ECS"]  + linea["EPH"] + linea["ESP"]) / 4
    elif departamento == "Biotech":
        puntaje = (linea["EMA"] + linea["ECS"]  + linea["ECH"] + linea["ESP"]) / 4
    elif departamento == "Mathematics":
        puntaje = (linea["EMA"] + linea["ECS"] + linea["EPH"] + linea["ECH"]) / 4
    else:
        return None
    return round(puntaje,2)

df["OP1_score"] = df.apply(lambda x: calcular_puntaje_admision(x, x["OP1"]), axis=1)
df["OP2_score"] = df.apply(lambda x: calcular_puntaje_admision(x, x["OP2"]), axis=1)
df["OP3_score"] = df.apply(lambda x: calcular_puntaje_admision(x, x["OP3"]), axis=1)

display(df)

,nombre,apellido,EPH,ECH,EMA,ECS,ESP,OP1,OP2,OP3,OP1_score,OP2_score,OP3_score
0,Jermine,Brunton,84,81,73,92,48,Physics,Engineering,Mathematics,80.33,74.25,82.50
1,Justo,Mirfin,71,77,61,60,41,Engineering,Biotech,Chemistry,58.25,59.75,63.00
2,Uzma,Naysmythe,60,94,75,71,80,Chemistry,Engineering,Mathematics,78.00,71.50,75.00
3,Koury,Wingo,71,81,81,83,59,Engineering,Biotech,Mathematics,73.50,76.00,79.00
4,Kentrell,Hillhouse,40,69,42,58,20,Mathematics,Engineering,Biotech,52.25,40.00,47.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Tamkia,Fish,81,71,73,86,78,Physics,Engineering,Mathematics,78.33,79.50,77.75
94,Deniz,Blanchard,71,77,61,60,61,Engineering,Biotech,Chemistry,63.25,64.75,69.67
95,Mira,Riley,60,94,75,71,80,Engineering,Biotech,Mathematics,71.50,80.00,75.00
96,Loura,Macansh,71,81,81,93,79,Engineering,Physics,Mathematics,81.00,74.33,81.50
97,Nastassja,Trustram,60,49,82,68,70,Mathematics,Engineering,Physics,64.75,70.00,67.33

In [169]:
# filtrar el DataFrame para el departamento seleccionado y la opción OP1
aspirantes_departamento = df[(df['OP1'] == "Engineering")]

display(aspirantes_departamento)

,nombre,apellido,EPH,ECH,EMA,ECS,ESP,OP1,OP2,OP3,OP1_score,OP2_score,OP3_score
1,Justo,Mirfin,71,77,61,60,41,Engineering,Biotech,Chemistry,58.25,59.75,63.00
3,Koury,Wingo,71,81,81,83,59,Engineering,Biotech,Mathematics,73.50,76.00,79.00
5,Trica,Macalpine,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
11,Ruthanne,Scaife,75,73,84,97,82,Engineering,Biotech,Mathematics,84.50,84.00,82.25
13,Artavious,Fay,71,77,61,60,61,Engineering,Biotech,Chemistry,63.25,64.75,69.67
15,Marlynn,Favell,71,81,81,93,79,Engineering,Biotech,Mathematics,81.00,83.50,81.50
17,Shantale,Tompkins,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
21,Linda,Risley,85,85,83,86,49,Engineering,Physics,Mathematics,75.75,84.33,84.75
23,Meshell,Otway-Ruthven,75,73,84,97,94,Engineering,Biotech,Mathematics,87.50,87.00,82.25
27,Humphrey,Spakeman,71,81,81,83,89,Engineering,Biotech,Mathematics,81.00,83.50,79.00
29,Takyra,Sieminski,74,80,96,92,66,Engineering,Mathematics,Physics,82.00,85.50,81.33
35,Tawsha,Rodgers,78,71,84,97,82,Engineering,Biotech,Mathematics,85.25,83.50,82.50
37,Tisheena,Mckenney,76,57,61,90,61,Engineering,Physics,Biotech,72.00,71.00,67.25
38,Kyona,Catrol,60,94,75,77,40,Engineering,Biotech,Mathematics,63.00,71.50,76.50
39,Jamarl,Delap,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.50,87.75
41,Kaylie,Lanthis,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
44,Luna,Pheobe,71,84,98,71,50,Engineering,Mathematics,Engineering,72.50,81.00,72.50
45,Savvas,Hjellstrom,55,85,41,66,45,Engineering,Biotech,Mathematics,51.75,59.25,61.75
49,Natha,Keefe,71,67,53,60,31,Engineering,Biotech,Chemistry,53.75,52.75,56.33
52,Dashawn,Bosley,80,79,82,61,40,Engineering,Chemistry,Biotech,65.75,66.33,65.50
53,Nicolasa,Sumpter,75,82,96,81,38,Engineering,Mathematics,Biotech,72.50,83.50,74.25
55,Tawny,Crockett,71,90,80,72,44,Engineering,Biotech,Physics,66.75,71.50,74.00
57,Halima,Brydone,77,85,82,86,50,Engineering,Physics,Mathematics,73.75,78.67,82.50
59,Lorry,Bunger,75,73,84,97,22,Engineering,Biotech,Physics,69.50,69.00,78.00
61,Marti,Mclaws,71,71,61,60,41,Engineering,Chemistry,Biotech,58.25,61.00,58.25
63,Tommi,Peerless,72,81,81,92,75,Engineering,Physics,Mathematics,80.00,75.00,81.50
64,Cynthia,Hermitton,70,59,62,88,80,Engineering,Biotech,Chemistry,75.00,72.25,69.67
65,Cheyla,Hankinson,75,80,86,88,36,Engineering,Mathematics,Biotech,71.25,82.25,72.50
72,Elroy,Leyte,84,81,73,92,48,Engineering,Physics,Mathematics,74.25,80.33,82.50
78,Ronel,Cowan,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
83,Katrine,Proby,78,71,84,90,42,Engineering,Biotech,Mathematics,73.50,71.75,80.75
85,Sharief,Macallister,76,57,61,99,61,Engineering,Physics,Biotech,74.25,71.00,69.50
87,Melena,Hearn,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.50,87.75
89,Amira,Giddings,75,80,96,78,66,Engineering,Mathematics,Physics,78.75,82.25,82.00
92,Ehab,Cocciardi,75,73,84,97,82,Engineering,Biotech,Mathematics,84.50,84.00,82.25
94,Deniz,Blanchard,71,77,61,60,61,Engineering,Biotech,Chemistry,63.25,64.75,69.67
95,Mira,Riley,60,94,75,71,80,Engineering,Biotech,Mathematics,71.50,80.00,75.00
96,Loura,Macansh,71,81,81,93,79,Engineering,Physics,Mathematics,81.00,74.33,81.50

In [170]:
# Ordenar por OP1_score en orden descendente
aspirantes_ordenados = aspirantes_departamento.sort_values(by=['OP1_score'], ascending=[False])

# Mostrar los resultados
display(aspirantes_ordenados)

,nombre,apellido,EPH,ECH,EMA,ECS,ESP,OP1,OP2,OP3,OP1_score,OP2_score,OP3_score
23,Meshell,Otway-Ruthven,75,73,84,97,94,Engineering,Biotech,Mathematics,87.50,87.00,82.25
39,Jamarl,Delap,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.50,87.75
87,Melena,Hearn,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.50,87.75
35,Tawsha,Rodgers,78,71,84,97,82,Engineering,Biotech,Mathematics,85.25,83.50,82.50
11,Ruthanne,Scaife,75,73,84,97,82,Engineering,Biotech,Mathematics,84.50,84.00,82.25
92,Ehab,Cocciardi,75,73,84,97,82,Engineering,Biotech,Mathematics,84.50,84.00,82.25
29,Takyra,Sieminski,74,80,96,92,66,Engineering,Mathematics,Physics,82.00,85.50,81.33
78,Ronel,Cowan,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
41,Kaylie,Lanthis,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
17,Shantale,Tompkins,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
5,Trica,Macalpine,75,80,96,88,66,Engineering,Mathematics,Biotech,81.25,84.75,82.50
96,Loura,Macansh,71,81,81,93,79,Engineering,Physics,Mathematics,81.00,74.33,81.50
27,Humphrey,Spakeman,71,81,81,83,89,Engineering,Biotech,Mathematics,81.00,83.50,79.00
15,Marlynn,Favell,71,81,81,93,79,Engineering,Biotech,Mathematics,81.00,83.50,81.50
63,Tommi,Peerless,72,81,81,92,75,Engineering,Physics,Mathematics,80.00,75.00,81.50
89,Amira,Giddings,75,80,96,78,66,Engineering,Mathematics,Physics,78.75,82.25,82.00
21,Linda,Risley,85,85,83,86,49,Engineering,Physics,Mathematics,75.75,84.33,84.75
64,Cynthia,Hermitton,70,59,62,88,80,Engineering,Biotech,Chemistry,75.00,72.25,69.67
85,Sharief,Macallister,76,57,61,99,61,Engineering,Physics,Biotech,74.25,71.00,69.50
72,Elroy,Leyte,84,81,73,92,48,Engineering,Physics,Mathematics,74.25,80.33,82.50
57,Halima,Brydone,77,85,82,86,50,Engineering,Physics,Mathematics,73.75,78.67,82.50
3,Koury,Wingo,71,81,81,83,59,Engineering,Biotech,Mathematics,73.50,76.00,79.00
83,Katrine,Proby,78,71,84,90,42,Engineering,Biotech,Mathematics,73.50,71.75,80.75
44,Luna,Pheobe,71,84,98,71,50,Engineering,Mathematics,Engineering,72.50,81.00,72.50
53,Nicolasa,Sumpter,75,82,96,81,38,Engineering,Mathematics,Biotech,72.50,83.50,74.25
37,Tisheena,Mckenney,76,57,61,90,61,Engineering,Physics,Biotech,72.00,71.00,67.25
95,Mira,Riley,60,94,75,71,80,Engineering,Biotech,Mathematics,71.50,80.00,75.00
65,Cheyla,Hankinson,75,80,86,88,36,Engineering,Mathematics,Biotech,71.25,82.25,72.50
59,Lorry,Bunger,75,73,84,97,22,Engineering,Biotech,Physics,69.50,69.00,78.00
55,Tawny,Crockett,71,90,80,72,44,Engineering,Biotech,Physics,66.75,71.50,74.00
52,Dashawn,Bosley,80,79,82,61,40,Engineering,Chemistry,Biotech,65.75,66.33,65.50
13,Artavious,Fay,71,77,61,60,61,Engineering,Biotech,Chemistry,63.25,64.75,69.67
94,Deniz,Blanchard,71,77,61,60,61,Engineering,Biotech,Chemistry,63.25,64.75,69.67
38,Kyona,Catrol,60,94,75,77,40,Engineering,Biotech,Mathematics,63.00,71.50,76.50
1,Justo,Mirfin,71,77,61,60,41,Engineering,Biotech,Chemistry,58.25,59.75,63.00
61,Marti,Mclaws,71,71,61,60,41,Engineering,Chemistry,Biotech,58.25,61.00,58.25
49,Natha,Keefe,71,67,53,60,31,Engineering,Biotech,Chemistry,53.75,52.75,56.33
45,Savvas,Hjellstrom,55,85,41,66,45,Engineering,Biotech,Mathematics,51.75,59.25,61.75

In [171]:
# Seleccionar los N aspirantes con los puntajes más alto
aspirantes_elegidos = aspirantes_ordenados.head(5)

display(aspirantes_elegidos)

,nombre,apellido,EPH,ECH,EMA,ECS,ESP,OP1,OP2,OP3,OP1_score,OP2_score,OP3_score
23,Meshell,Otway-Ruthven,75,73,84,97,94,Engineering,Biotech,Mathematics,87.50,87.0,82.25
39,Jamarl,Delap,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.5,87.75
87,Melena,Hearn,92,81,85,93,79,Engineering,Biotech,Mathematics,87.25,84.5,87.75
35,Tawsha,Rodgers,78,71,84,97,82,Engineering,Biotech,Mathematics,85.25,83.5,82.50
11,Ruthanne,Scaife,75,73,84,97,82,Engineering,Biotech,Mathematics,84.50,84.0,82.25

In [175]:
# Crear la columna 'nombre_completo' combinando 'nombre' y 'apellido'
aspirantes_elegidos['nombre_completo'] = aspirantes_elegidos['nombre'] + ' ' + aspirantes_elegidos['apellido']

# Crear la tabla con las columnas especificadas
tabla_aspirantes_elegidos = pd.DataFrame({
    'nombre_completo': aspirantes_elegidos['nombre_completo'],
    'departmento': aspirantes_elegidos['OP1'],
    'puntaje': aspirantes_elegidos['OP1_score'],
    'opcion': 'OP1'
})

# Presentar el contenido de la tabla
display(tabla_aspirantes_elegidos)

# Imprimir el número de aspirantes elegidos
# Make sure to use the variable that stores the selected department
departamento_seleccionado = aspirantes_elegidos['OP1'].iloc[0] # Assuming all selected have the same department for OP1
print(f"\nNúmero de aspirantes elegidos para {departamento_seleccionado} (OP1): {len(tabla_aspirantes_elegidos)}")

          nombre_completo  departmento  puntaje opcion
23  Meshell Otway-Ruthven  Engineering    87.50    OP1
39           Jamarl Delap  Engineering    87.25    OP1
87           Melena Hearn  Engineering    87.25    OP1
35         Tawsha Rodgers  Engineering    85.25    OP1
11        Ruthanne Scaife  Engineering    84.50    OP1

Número de aspirantes elegidos para Engineering (OP1): 5

In [176]:
# Imprimir el número de aspirantes elegidos
print(f"\nNúmero de aspirantes elegidos para {departamento_seleccionado} (OP1): {len(tabla_aspirantes_elegidos)}")

Número de aspirantes elegidos para Engineering (OP1): 5

In [191]:
# Definir la Tabla de aspirantes admitidos
aspirantes_admitidos = pd.DataFrame(columns=['nombre_completo', 'departamento', 'puntaje', 'opcion'])

# Construir un pd.DataFrame con pd.DateOffset - This comment was causing a syntax error
# Definir un fragmento de datos para agregar a la tabla de admitidos
linea_nueva = pd.DataFrame({'nombre_completo': 'Meshell Otway-Ruthven',
                            'departamento': 'Engineering',
                            'puntaje': 87.50,
                            'opcion': 'OP1'}, index=[0]) # Added index=[0] to fix the ValueError

In [192]:
print("aspirantes_admitidos (por departamento):")
display(aspirantes_admitidos.sort_values(by=['departamento', "puntaje"], ascending=[True,False]))

aspirantes_admitidos (por departamento):

Empty DataFrame
Columns: [nombre_completo, departamento, puntaje, opcion]
Index: []